* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
form {
  height: 100%;
}
form input {
  padding: 5px 10px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}
.create-wrap,
.update-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (orientation: portrait) {
  .create-wrap,
  .update-wrap {
    flex-direction: column;
  }
}
.multi-input-wrap {
  max-width: 500px;
  width: 100%;
  display: flex;
  gap: 5px;
}
.create-wrap {
  display: none;
}
.show-create .create-wrap {
  display: flex;
}
.tab-create,
.tab-update {
  display: none;
  position: absolute;
  top: 0;
  width: 50%;
  height: 30px;
  line-height: 30px;
  left: 0;
  text-align: center;
  cursor: pointer;
}
.show-create .tab-create,
.show-create .tab-update,
.show-update .tab-create,
.show-update .tab-update {
  display: block;
}
.tab-update {
  left: 50%;
}
.show-update .tab-update {
  background: greenyellow;
}
.show-create .tab-create {
  background: greenyellow;
}
.update-wrap {
  display: none;
}
.show-update .update-wrap {
  display: flex;
}
.connect-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.show-create .connect-wrap,
.show-update .connect-wrap {
  display: none;
}
.connect-wrap button {
  padding: 10px 15px;
  background: greenyellow;
  border: none;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  cursor: pointer;
}
.connect-wrap button:hover {
  color: rgba(0, 0, 0, 0.8);
}
